* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  /* font-family: "poppins", sans-serif; */
}

header {
  position: fixed;
  width: 100%;
  padding: 20px 100px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
}

nav ul {
  display: inline-flex;
  gap: 52px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.school {
  background-image: url(images/Object.png);
  width: 100%;
  height: 1093px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
  color: #fff;
}

#school {
  padding-top: 150px;
  text-align: center;
}
#school h1 {
  font-size: 120px;
  font-weight: 700;
  /* text-align: center; */
}

.pro {
  display: inline-flex;
  gap: 150px;
  text-align: center;
}

.pro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#learn {
  padding-top: 160px;
  text-align: center;
}

#learn h2 {
  padding-bottom: 100px;
}

button {
  padding: 16px 16px;
  background: #c271ff;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 0px;
  box-shadow: 0 2px 20px rgb(0, 0, 0, 0.5);
}

/* 3. Quotes */

.quote {
  background: #c271ff;
  display: flex;
  padding: 30px 150px;
  gap: 20px;
  justify-content: space-evenly;
  color: #fff;
  align-items: center;
}

.video {
  margin: 100px 0;
}

.list {
  display: flex;
  padding: 0 80px;
}

.list .rating {
  display: flex;
  color: #c271ff;
}

.rating p {
  margin-left: 40px;
}

#avatar {
  display: flex;
  gap: 30px;
  align-items: center;
}

#avatar img {
  width: 30px;
}

.tuto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin: 0 20px;
}

.video h2 {
  text-align: center;
  padding-bottom: 40px;
}

/* Membership */

#membership {
  background: #071629;
  color: #fff;
  padding: 50px 80px;
  text-align: center;
}

.free {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.free div {
  text-align: center;
  gap: 20px;
}

/* FAQ */

#faq {
  padding: 100px 180px;
}

#faq h2 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 60px;
  font-weight: 300;
}

.faq {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.faq div h3 {
  padding-bottom: 30px;
}

/* Fo0ter */

footer {
  background: #071629;
  width: 100%;
  height: 250px;
  color: #fff;
}

footer section div {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

footer section p {
  text-align: center;
}

.brands {
  gap: 20px;
  display: flex;
  justify-content: center;
}
